* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: rgb(54, 53, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 100vh; */
  margin: 0;
}

/* CSS FOR SIGNUP FORM:  */
h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff9f9;
  text-align: center;
  font-weight: 300;
}
.register-form {
  border: 3px solid rgb(47, 44, 44);
  box-shadow: 5px 5px 50px rgb(96, 95, 95);
  height: auto;
  width: 400px;
  padding: 20px;
  gap: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.signup-form {
  border: 3px solid rgb(47, 44, 44);
  box-shadow: 5px 5px 50px rgb(96, 95, 95);
  height: 400px;
  width: 400px;
  padding: 20px;
  gap: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
label {
  text-align: left;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
}
.signup-input {
  border-radius: 10px;
  height: auto;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.signup-button {
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  width: 30%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 35%;
  margin-top: 20px;
}
button:hover {
  transform: scale(1.09);
}
.linktag {
  margin-bottom: 10px;
  color: violet;
  text-decoration: none;
}
.span {
  color: #f7ecec;
}

/* CSS FOR LOGIN FORM:  */
.login-form {
  border: 3px solid rgb(47, 44, 44);
  box-shadow: 5px 5px 50px rgb(96, 95, 95);
  height: 400px;
  width: 400px;
  padding: 20px;
  gap: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.login-button {
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  width: 30%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 35%;
  margin-top: 20px;
}
.login-input {
  border-radius: 10px;
  height: auto;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* CSS FOR NAVBAR */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 40px rgb(130, 128, 128);
  border-radius: 10px;
  margin: 10px auto;
  width: 100%;
  height: 60px;
  background-color: #ccc;
}
.navbar-nav {
  font-weight: bolder;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: rgb(15, 14, 14);
}
nav ul {
  display: flex;
  gap: 50px;
  margin-right: 20px;
  font-size: 20px;
  padding: 10px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.navbar-button {
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
