button {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 4px;
  margin: 15px;
}
.cards {
  border-radius: 15px;
  background-color: rgb(65, 63, 63);
  padding: 10px;
}
h3 {
  font-size: large;
}
p {
  color: rgb(138, 136, 136);
}
.ibtn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #b15252;
  padding: 8px 12px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}
.cbtn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #3d9748;
  padding: 8px 12px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}
.btn2 {
  padding: 5px;
}
.impbtn {
  border-radius: 5px;
  margin-left: 10px;
  padding: 2px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
}
.editbtn {
  border-radius: 5px;
  margin-left: 10px;
  padding: 2px;
  background: transparent;
  border: none;
  font-size: 1.4rem;
}
.delbtn {
  border-radius: 5px;
  margin-left: 10px;
  padding: 2px;
  background: transparent;
  border: none;
  font-size: 1.4rem;
}
.cardtask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iconn {
  font-size: 6rem;
  padding: 8px;
  color: rgb(182, 180, 180);
}
.butt {
  background: transparent;
  border: none;
}
.button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10%;
}
